<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>YelpCamp</title>
        <!-- Bootstrap/CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- JQuery -->
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="/">YelpCamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
                        <a class="nav-link" href="/campgrounds">Home</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0 mr-auto" action="/campgrounds" method="GET">
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
                    <input class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Search">
                </form>
                <ul class="navbar-nav navbar-right">
                    <% if(!currentUser) { %>
                        <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item <%= typeof page !== 'undefined' && page === 'profile' ? 'active' : '' %>">
                            <a class="nav-link" href="/users/<%= currentUser.id %>">Signed In As <%= currentUser.username %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    <% }; %>
                </ul>
            </div>
        </nav>
        <!-- Flash Messages -->
        <div class="container">
            <% if(error && error.length > 0) { %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%= error %>
            </div>
            <% } %>

            <% if(success && success.length > 0) { %>
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%= success %>
            </div>
            <% }; %>
        </div>
        <div class="container">
        <!-- Main Page Content -->
        