<% include ../partials/header %>

<div class="row">
    <div class="col-md-3 mb-3">
        <h1 class="h3 mb-3 font-weight-normal"><%= campground.name %></h1>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-calendar-week"></i> Availability
            </div>
            <div class="card-body">
                <p class="card-text"><%= campground.availability %></p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-wifi"></i> Extras
            </div>
            <div class="card-body">
                <p class="card-text"><%= campground.extras %></p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <i class="fas fa-phone-alt"></i> Contact
            </div>
            <div class="card-body">
                <p class="card-text"><%= campground.contact %></p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card mb-4">
            <img class="card-img-top" src="<%= campground.image %>" alt="Campground Image">
            <div class="card-body">
                <p class="float-right font-weight-bold">
                    $<%= campground.price %>/night   
                </p>
                <h5 class="card-title">
                    <%= campground.name %>
                </h5>
                <p class="card-text">
                    <%= campground.description %>
                </p>
                <hr>
                <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                    <span class="float-right">
                        <a href="/campgrounds/<%= campground.slug %>/edit" class="btn btn-outline-warning">Edit</a>
                        <form class="deleteForm" action="/campgrounds/<%= campground.slug %>?_method=DELETE" method="POST">
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                    </span>
                <% }; %>
                <p>
                    <em>Submitted By: <strong><a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a></strong>, <%= moment(campground.createdAt).fromNow() %></em>
                </p>
            </div>
        </div>
        <div class="text-right">
            <a href="/campgrounds/<%= campground.slug %>/comments/new" class="btn btn-success">Add New Comment</a>
        </div>
        <div class="card mt-4">
            <ul class="list-group list-group-flush">
                <% campground.comments.forEach(function(comment) { %>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6">
                                    <a href="/users/<%= comment.author.id %>">
                                        <strong><%= comment.author.username %></strong>
                                    </a>
                                </div>
                                <div class="col-6 text-right">
                                    <p>
                                        <em><%= moment(comment.createdAt).fromNow() %></em>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p><em><%= comment.text %></em></p>
                                </div>
                                <div class="col-6 text-right">
                                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                        <a href="/campgrounds/<%= campground.slug %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-outline-warning">Edit</a>
                                        <form class="deleteForm" action="/campgrounds/<%= campground.slug %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-sm btn-outline-danger">Delete</button>
                                        </form>
                                    <% }; %>
                                </div>
                            </div>
                        </li>        
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<% include ../partials/footer %>