<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="<%= user.avatar %>" alt="user profile image">
            <div class="card-body">
                <span>Name:</span>
                <h5 class="card-title">
                    <%= user.firstName + ' ' + user.lastName %>
                </h5>
                <span>Email:</span>
                <br>
                <a href="mailto:<%= user.email %>"><%= user.email %></a>
                <p class="card-text pt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deleniti alias, 
                    obcaecati laboriosam, commodi debitis amet et, harum ea aliquam quos. Ratione quis 
                    sapiente quos eligendi tempore tempora reiciendis, pariatur, adipisci quo animi soluta, 
                    nobis eveniet dolore labore placeat cupiditate temporibus quod a natus velit esse nihil ut. 
                    Dolores neque, cupiditate magnam, nulla corrupti earum odit, reprehenderit nobis voluptatum 
                    pariatur eius maxime soluta?
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-4 mt-md-0">
        <h3 class="mb-4"><%= user.username %>'s Campgrounds:</h3>
        <div class="row">
            <% campgrounds.forEach(function(campground) { %>
                <div class="col-md-4 pb-4 d-flex align-self-stretch">
                    <div class="card">
                        <a href="/campgrounds/<%= campground.slug %>">
                            <img class="card-img-top" src="<%= campground.image %>" alt="Campground image">
                            <div class="card-body">
                                <h5 class="card-title text-center"><%= campground.name %></h5>
                            </div>
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<% include ../partials/footer %>